/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;font-family: 'Lato', sans-serif; }article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}#top{width: 100%; height:500px;}

/*Just messing around with the header.... hehe*/

/*
h1 {
	display: inline;
	position: relative;
	font: 200px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: rgba(0,0,255,0.5); 
}
*/

img {
    display:inline;
    vertical-align: middle;
}

/*
    h1:after {
        content: "Texoma Lawn Care";
        position: absolute; left: 2px; top: 2px;
        width:100%;
        color: rgba(255,0,0,0.5);   
    }
*/

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: green;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 10px;
  padding-left: 10px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 950px;
    background-color: green;
  }
}
/*
.container-narrow > hr {
  margin: 30px 0;
}
*/

/* Main marketing message and sign up button */
.jumbotron {
  background-image: url('/png/header.jpg');
  background-position: bottom right; 
  text-align: center;
  color: white;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}
.thumbnail{
    height:100%;
}
/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  margin-top:20px;
  text-align: center;
  /*border: 1px solid #e5e5e5;*/
  
}
.marketing p + h4 {
  margin-top: 24px;
}
p {
    font-size: 14px;
}
.styling{
    margin: 10px;
    background-color: #33CC33;
    height:100%;
    padding:10px;
}
.styling ul{
    font-size:14px;
}
.styling h4{
    margin-left: 10px;
}
.thingsList p{
padding 10px;
margin: 10px;
}
.heading h5{
    font-weight: bold;
    font-size: 30px;
    color:white;
    text-align: center;
}
body h5{
    font-size:22px;
    margin-bottom: 10px;
    text-decoration: underline;
    font-weight: bold;
}
body h4 {
   font-size: 22px; 
    margin-bottom: 10px;
    text-decoration: underline;
    font-weight: bold;
}
.person{

    margin:0 auto;
}
.person li {
    text-align: center;
    margin-bottom: 5px;
}
.person img{
    height:120px; 
    border-radius:15px;
    margin-bottom: 12px;
}

#discount{
vertical-align: middle;
    margin-top: 40px;
}
.offset p{
    font-weight: bold;
    margin-top: 6px;
}
.dollar{
    color:yellow;
    font-size:20px;
    margin-bottom: 12px;
}
.checkbox{

}
.footer{
    color:black;
  }
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  .footer{
    color:black;
  }
  .navbar-brand{
  display: none;
  }
  ul.nav{
  display:block;
  width:350px;
  margin: 0 auto;
  float:none;
  }
  .container{
    /*color:white;*/
      color:black;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
